<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartticket.domain.mapper.TicketKnowledgeEmbeddingMapper">

    <insert id="insert" parameterType="com.smartticket.domain.entity.TicketKnowledgeEmbedding"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ticket_knowledge_embedding (knowledge_id, chunk_index, chunk_text, embedding_vector)
        VALUES (#{knowledgeId}, #{chunkIndex}, #{chunkText}, #{embeddingVector})
    </insert>

    <select id="findById" resultType="com.smartticket.domain.entity.TicketKnowledgeEmbedding">
        SELECT *
        FROM ticket_knowledge_embedding
        WHERE id = #{id}
    </select>

    <select id="findByKnowledgeId" resultType="com.smartticket.domain.entity.TicketKnowledgeEmbedding">
        SELECT *
        FROM ticket_knowledge_embedding
        WHERE knowledge_id = #{knowledgeId}
        ORDER BY chunk_index ASC
    </select>

    <select id="findAll" resultType="com.smartticket.domain.entity.TicketKnowledgeEmbedding">
        SELECT *
        FROM ticket_knowledge_embedding
        ORDER BY knowledge_id ASC, chunk_index ASC
    </select>

    <delete id="deleteByKnowledgeId">
        DELETE FROM ticket_knowledge_embedding
        WHERE knowledge_id = #{knowledgeId}
    </delete>
</mapper>
